<h1 class="center"><u>Add Entry</u></h1>
<div class="container">
    <div class="jumbotron">
      <form>
        <div class="form-group row">
            <div class="col-md-8">
              <label>Name</label>
              <input ng-model="name" type="text" class="form-control" placeholder="Company Name" required="true">
              <small>A target needs a name in order to be saved!</small>
            </div>
            <div class="col-md-4">
              <label>Status</label>
              <select class="form-control" ng-model="status" ng-change="statusChanged(status)">
                <option ng-repeat="status in statuses track by $index" value="{{status}}">{{status}}</option>
              </select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3">
              <label>Company Revenue</label>
              <input ng-model="companyRevenue" class="form-control" type="text">
            </div>
            <div class="col-md-9">
                <label>Company Info</label>
                <textarea ng-model="companyInfo" class="form-control" name="name" rows="8" cols="80" required="true"></textarea>
            </div>
        </div>
        <div class="form-group row">
          <div class="col-md-10">
            <label>Contacts</label>
            <div ng-repeat="contact in contacts track by $index">
              <div class="col-md-11">
                <input ng-model="contact.name" type="text" class="form-control" placeholder="Contact Name" required="true">
                <br>
              </div>
              <div class="col-md-1" ng-show="contacts.length > 1">
                <button ng-click="removeContact($index)" type="button" class="btn btn-default">-</button>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <button id="add-contact-btn" ng-click="addContact()" type="button" class="btn btn-default">Add Contact Field</button>
          </div>
        </div>
        <button ng-disabled="$scope.name" type="submit" ng-click="saveEdit()" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-warning" ui-sref="home">Cancel</button>
      </form>
    </div>
</div>
